Agente n8n/Calcular Total.json
{
  "name": "Calcular Total",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"items\": [\n    {\n      \"burger_type\": \"CHEESEBURGER\",\n      \"quantity\": 1,\n      \"combo\": true,\n      \"patty_size\": \"doble\",\n      \"guarnecion\": \"papas_cheddar\",\n      \"removals\": [],\n      \"additions\": []\n    }\n  ],\n  \"extras\": [\n    {\n      \"name\": \"NUGGETS (10 UNID.)\",\n      \"quantity\": 1\n    }\n  ],\n  \"direccion_envio\": \"Sarratea 691, Fisherton\"\n}"
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-ef1234560001",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -256,
        368
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "store_data",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "d2e3f4a5-b6c7-8901-bcde-f12345600002",
      "name": "Fetch store_data",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q435acBWUg7s3lbu",
          "name": "test1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CALCULAR TOTAL\n// Devuelve el desglose de precios real usando store_data como fuente de verdad.\n// El agente muestra este texto al cliente para que confirme antes de crear el pedido.\n\nvar inputsRaw = $('When Executed by Another Workflow').first().json;\nvar storeData = $input.all().map(function(i) { return i.json; });\n\n// --- Parseo defensivo de items y extras ---\nfunction tryParseArray(val) {\n  if (!val) return [];\n  if (Array.isArray(val)) return val;\n  if (typeof val === 'string') {\n    try {\n      var clean = val\n        .replace(/```json/g, '').replace(/```/g, '').trim()\n        .replace(/'/g, '\"').replace(/True/g, 'true')\n        .replace(/False/g, 'false').replace(/None/g, 'null');\n      var parsed = JSON.parse(clean);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (e) { return []; }\n  }\n  return [];\n}\n\nvar items = tryParseArray(inputsRaw.items);\nvar extras = tryParseArray(inputsRaw.extras);\nvar direccion = inputsRaw.direccion_envio || '';\n\n// --- Guarniciones válidas ---\nvar guarnecionesValidas = ['', 'clasicas', 'sazonadas', 'papas_cheddar', 'aros', 'nuggets'];\n\n// --- Mapeos de guarnecion (solo para display) ---\nvar guarnecionDisplay = {\n  '': 'papas clásicas',\n  'clasicas': 'papas clásicas',\n  'sazonadas': 'papas sazonadas',\n  'papas_cheddar': 'papas cheddar',\n  'aros': 'aros de cebolla',\n  'nuggets': 'nuggets'\n};\n\n// --- Funciones de lookup ---\nvar medallonCount = { 'simple': 1, 'doble': 2, 'triple': 3, 'cuadruple': 4, 'cuádruple': 4, 'quintuple': 5, 'quíntuple': 5, 'sextuple': 6, 'séxtuple': 6 };\n\nfunction buscarPrecioMedallonExtra() {\n  var row = storeData.find(function(r) { return r.display_name === 'MEDALLÓN + QUESO EXTRA' && r.is_active !== false; });\n  return row ? parseFloat(row.value) : 0;\n}\n\nfunction buscarPrecioUpgrade(guarnecion) {\n  if (!guarnecion || guarnecion === '' || guarnecion === 'clasicas') return 0;\n  var row = storeData.find(function(r) {\n    return r.category === 'guarnecion_upgrade' &&\n      r.is_active !== false &&\n      (r.key || '').toLowerCase() === guarnecion;\n  });\n  if (row) return parseFloat(row.value);\n  throw new Error('UPGRADE_NO_ENCONTRADO: \"' + guarnecion + '\" no tiene precio en guarnecion_upgrade. Revisar store_data.');\n}\n\nfunction buscarPrecioItem(patty_size, combo, guarnecion) {\n  var ps = (patty_size || '').toLowerCase().trim();\n  if (!combo) {\n    var key = ('hamburguesa ' + ps).toLowerCase();\n    var row = storeData.find(function(r) {\n      return r.category === 'regla_precio' &&\n        r.key.toLowerCase().replace(/_/g, ' ') === key &&\n        r.is_active !== false;\n    });\n    if (row) return parseFloat(row.value);\n    var n = medallonCount[ps] || 0;\n    if (n > 3) {\n      var tripleRow = storeData.find(function(r) { return r.category === 'regla_precio' && r.key.toLowerCase().replace(/_/g, ' ') === 'hamburguesa triple' && r.is_active !== false; });\n      if (tripleRow) return parseFloat(tripleRow.value) + (n - 3) * buscarPrecioMedallonExtra();\n    }\n    return null;\n  }\n  // COMBO: siempre precio base con papas clasicas + upgrade separado\n  var baseKey = ('hamburguesa ' + ps + ' en combo con papas clasicas').toLowerCase();\n  var row2 = storeData.find(function(r) {\n    return r.category === 'regla_precio' &&\n      r.is_active !== false &&\n      r.key.toLowerCase().replace(/_/g, ' ') === baseKey;\n  });\n  if (row2) return parseFloat(row2.value);\n  // Gigante fallback: triple clasicas + medallones extra\n  var n2 = medallonCount[ps] || 0;\n  if (n2 > 3) {\n    var tripleClasRow = storeData.find(function(r) {\n      return r.category === 'regla_precio' && r.is_active !== false &&\n        r.key.toLowerCase().replace(/_/g, ' ') === 'hamburguesa triple en combo con papas clasicas';\n    });\n    if (tripleClasRow) return parseFloat(tripleClasRow.value) + (n2 - 3) * buscarPrecioMedallonExtra();\n  }\n  return null;\n}\n\nfunction buscarPrecioExtra(nombre) {\n  var row = storeData.find(function(r) {\n    return r.category === 'extra' &&\n      r.is_active !== false &&\n      r.display_name.toLowerCase() === (nombre || '').toLowerCase();\n  });\n  return row ? parseFloat(row.value) : null;\n}\n\n// FIX 1: usar word boundary para evitar falsos positivos (ej: \"Refunes\", \"Fontenela\")\nfunction calcularEnvio(dir) {\n  if (!dir) return 0;\n  var d = dir.toLowerCase();\n  if (d.indexOf('retira') !== -1 || d.indexOf('retiro') !== -1 || d.indexOf('local') !== -1) return 0;\n  if (/\\bfunes\\b/.test(d)) return 3000;\n  return 2500;\n}\n\nfunction formatPeso(n) {\n  return '$' + n.toLocaleString('es-AR');\n}\n\n// --- Calcular y armar texto ---\nvar lineas = ['Tu pedido:'];\nvar total = 0;\nvar advertencias = [];\n\nitems.forEach(function(item) {\n  var guarnecion = (item.guarnecion || '').toLowerCase().trim().replace(/ /g, '_');\n\n  // FIX 3: detectar guarnición desconocida y normalizar al default\n  if (guarnecion !== '' && guarnecionesValidas.indexOf(guarnecion) === -1) {\n    advertencias.push('⚠️ Guarnición \"' + guarnecion + '\" desconocida. Se aplicó papas clásicas.');\n    guarnecion = 'clasicas';\n  }\n\n  // --- PRECIO ESPECIAL POR BURGER TYPE (ej: BTB) ---\n  var precioEspecial = null;\n  var esBurgerEspecial = false;\n  if (item.burger_type) {\n    var burgerTypeNorm = (item.burger_type || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n    var burgerEspecial = storeData.find(function(r) {\n      if (r.category !== 'sabor_hamburguesa' || r.is_active === false || parseFloat(r.value) <= 0) return false;\n      var keyNorm = (r.key || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n      var displayNorm = (r.display_name || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n      return keyNorm.includes(burgerTypeNorm) || displayNorm.includes(burgerTypeNorm) ||\n             burgerTypeNorm.includes('blacktruffle') || burgerTypeNorm.includes('btb') ||\n             burgerTypeNorm.includes('lacampeona');\n    });\n    if (burgerEspecial) {\n      precioEspecial = parseFloat(burgerEspecial.value);\n      esBurgerEspecial = true;\n    }\n  }\n\n  var basePrice = precioEspecial !== null ? precioEspecial : buscarPrecioItem(item.patty_size, item.combo, guarnecion);\n\n  // FIX 2: fallback silencioso → advertencia explícita si precio es $0\n  if (basePrice === null) {\n    basePrice = parseFloat(item.price) || 0;\n    if (basePrice === 0) {\n      throw new Error('PRECIO_NO_ENCONTRADO: \"' + (item.burger_type || 'ítem') + '\" (' + (item.patty_size || '-') + (item.combo ? ', combo' : ', sola') + '). Revisar store_data.');\n    }\n  }\n\n  // Medallón extras en additions (ej: \"medallon extra\", \"medallón extra\")\n  var medallonExtras = 0;\n  if (Array.isArray(item.additions) && precioEspecial === null) {\n    item.additions.forEach(function(add) {\n      if ((add || '').toLowerCase().indexOf('medal') !== -1) medallonExtras++;\n    });\n  }\n  var medallonDelta = medallonExtras * buscarPrecioMedallonExtra();\n\n  // Upgrade delta: solo para combos sin precio especial\n  var upgradeDelta = (item.combo && precioEspecial === null) ? buscarPrecioUpgrade(guarnecion) : 0;\n\n  var qty = item.quantity || 1;\n  var subtotal = (basePrice + medallonDelta + upgradeDelta) * qty;\n  total += subtotal;\n\n  // FIX 4: burgers con precio especial (BTB) siempre muestran \"doble\"\n  var sizeDisplay = esBurgerEspecial ? 'doble' : (item.patty_size || '');\n  var desc = qty + 'x ' + (item.burger_type || '').toUpperCase() + ' ' + sizeDisplay;\n  if (medallonExtras > 0) desc += ' +' + medallonExtras + ' medallón';\n  if (item.combo) {\n    var gDisplay = guarnecionDisplay[guarnecion] || 'papas clásicas';\n    desc += ' combo (' + gDisplay + ')';\n  }\n  if (Array.isArray(item.removals) && item.removals.length > 0) {\n    var removalsText = item.removals.map(function(r) { return (r || '').toUpperCase(); }).join(', ');\n    desc += ' ⚠️ SIN ' + removalsText;\n  }\n\n  var extraParts = [];\n  if (medallonDelta > 0) extraParts.push('medallón ' + formatPeso(medallonDelta));\n  if (upgradeDelta > 0) extraParts.push('upgrade ' + formatPeso(upgradeDelta));\n\n  if (extraParts.length > 0) {\n    var unitStr = formatPeso(basePrice) + ' + ' + extraParts.join(' + ');\n    if (qty > 1) {\n      desc += ' - ' + unitStr + ' c/u';\n      lineas.push('• ' + desc + ': ' + formatPeso(subtotal));\n    } else {\n      lineas.push('• ' + desc + ': ' + unitStr);\n    }\n  } else {\n    if (qty > 1) {\n      desc += ' - ' + formatPeso(basePrice) + ' c/u';\n    }\n    lineas.push('• ' + desc + ': ' + formatPeso(subtotal));\n  }\n});\n\nextras.forEach(function(extra) {\n  var precio = buscarPrecioExtra(extra.name);\n  if (precio === null) {\n    precio = parseFloat(extra.price) || 0;\n    if (precio === 0) {\n      throw new Error('PRECIO_NO_ENCONTRADO: extra \"' + (extra.name || 'extra') + '\". Revisar store_data.');\n    }\n  }\n  var qty = extra.quantity || 1;\n  var subtotal = precio * qty;\n  total += subtotal;\n  lineas.push('• ' + (extra.name || 'Extra') + ' x' + qty + ': ' + formatPeso(subtotal));\n});\n\n// FIX 1 (también en etiqueta): word boundary para zona Funes\nvar esFunes = /\\bfunes\\b/.test(direccion.toLowerCase());\nvar envio = calcularEnvio(direccion);\nif (envio > 0) {\n  var zonaLabel = esFunes ? 'Funes' : 'Fisherton';\n  lineas.push('• Envío ' + zonaLabel + ': ' + formatPeso(envio));\n  total += envio;\n} else if (direccion) {\n  lineas.push('• Retiro en local: $0');\n}\n\nlineas.push('');\nlineas.push('Total: ' + formatPeso(total));\nlineas.push('¿Confirmo?');\n\n// Incluir advertencias al final (visibles para el agente, no para el cliente)\nif (advertencias.length > 0) {\n  lineas.push('');\n  lineas.push('[SISTEMA] Advertencias:');\n  advertencias.forEach(function(a) { lineas.push(a); });\n}\n\nreturn {\n  json: {\n    resumen: lineas.join('\n'),\n    monto_total: total,\n    tiene_advertencias: advertencias.length > 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        368
      ],
      "id": "d3e4f5a6-b7c8-9012-cdef-123456000003",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch store_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch store_data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca1c7070-0000-0000-0000-ca1c70700001",
  "meta": {
    "instanceId": "fbd74d9bc8481a776c75d09cdc2aebd49bb11f7b7daf67749cace4ad70ae5993"
  },
  "id": "CalcTotalId00001",
  "tags": []
}